.full-height-width {
  height: 100vh;
  width: 100%;
}

.sideBar {
  height: 100vh;
  overflow: auto;
}

.mainContainer {
  height: 100vh;
  overflow: auto;
}

.contentContainer {
  max-width: 1000px !important;
  height: 100vh;
}

.applicationTable {
  min-width: 700px;
  border: none;
}

.applicationTableContainer {
  overflow: scroll;
  max-height: 380px;
}

.cursorPointer {
  cursor: pointer;
  background-color: rgb(93, 93, 93);
}