.full-height-width {
  height: 100vh;
  width: 100%;
}

.sideBar {
  height: 100vh;
  overflow: auto;
}

.mainContainer {
  height: 100vh;
  overflow: auto;
}

.contentContainer {
  max-width: 1000px !important;
  height: 100vh;
}

